body {
	height: auto;
	padding: 0 10px;
}

.info-section {
	margin: 0 auto;
	max-width: 700px;
	margin-top: 20px;
	line-height: 1.6;
}

.info-section h2 {
	color: #007bff;
	margin-bottom: 10px;
}

.info-list {
	margin-left: 20px;
}

.info-list li {
	margin-bottom: 5px;
}

.buttons {
	margin-top: 80px;
}

.buttons button {
	display: block;
	cursor: pointer;
	outline: none;
	border: none;
	background: none;
	text-decoration: none;
	color: #0087F7;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	padding: 10px 20px;
	margin: 0 auto;
	border-radius: 5px;
	transition: all 0.3s ease-in-out;
}

.buttons button:hover {
	background: #0087F7;
	color: #fff;
	transform: translateY(-2px);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}